.left_arrow {
  width: 32px;
  height: 32px;
  margin-bottom: 34px;
  cursor: pointer;
  transition: margin-left 300ms;
}
.left_arrow:hover {
  margin-left: 10px;
}

.blog_title {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 30px;
}

.blog_image_left {
  float: left;
  width: 500px;
  height: 500px;
  margin: 0 22px 30px 0;
}
.blog_image_right {
  float: right;
  width: 500px;
  height: 500px;
  margin: 0 0 30px 22px;
}

.blog_desc {
  margin-bottom: 167px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.blog_desc_first {
  margin-bottom: 40px;
  padding-top: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
