.error_header {
  border-bottom: 0.5px solid #fffbf5;
  .nav_item {
    color: #fffbf5;
  }
  .nav_item:hover {
    border-top: 0.5px solid #fffbf5;
  }
}

.white_icon {
  @include flex_row();
  gap: 24px;

  .icon_size {
    display: flex;

    .icon_cabinet {
      background-image: url(../images/cabinet_white.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 40px;
      height: 40px;
      transition: background-image 300ms;
    }
    .icon_cabinet:hover {
      background-image: url(../images/cabinet_hover.svg);
      background-repeat: no-repeat;
    }

    .icon_favorite {
      background-image: url(../images/favorite_white.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 40px;
      height: 40px;
      transition: background-image 300ms;
    }
    .icon_favorite:hover {
      background-image: url(../images/favorite_hover.png);
      background-repeat: no-repeat;
    }

    .icon_basket {
      background-image: url(../images/basket_white.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 39px;
      height: 39px;
      transition: background-image 300ms;
    }
    .icon_basket:hover {
      background-image: url(../images/basket_hover.png);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
    }
  }
}

.error {
  position: relative;
  top: -144px;
  z-index: -1;
}

.error_footer {
  position: relative;
  top: -206px;
}
